<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.adcel.flutter_adcel">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <meta-data
            android:name="adcel.sdk.plugin"
            android:value="flutter"
            tools:replace="android:value"/>
    </application>
</manifest>
